/**
 * @name Ganyu Theme
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #ABD0FB;
  --hover-color: #48C6FF;
  --success-color: #01BB66;
  --danger-color: #FF0000;
  --url-color: #FFE7A0;
  --background-image: url('https://images6.alphacoders.com/129/1297444.jpg');
  --background-shading: 69%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.redd.it/vh3b3y8lb1c61.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 98%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 0px;
  --user-modal-image: url('https://staticg.sportskeeda.com/editor/2021/12/63958-16384074118593-1920.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/418efddf-b394-4066-bb9a-9f4066f6552d/depx64z-1c40493f-c124-4861-b220-d3374112778f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQxOGVmZGRmLWIzOTQtNDA2Ni1iYjlhLTlmNDA2NmY2NTUyZFwvZGVweDY0ei0xYzQwNDkzZi1jMTI0LTQ4NjEtYjIyMC1kMzM3NDExMjc3OGYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xqNlB3GjybtIrMwR4WX9PvaHY_fKMHA09zee3J-24LI');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #FFE28A;
  --channel-color: rgb(146,221,255,1);
  --muted-color: rgb(255,128,128,1);
  --online-color: #A0E2FF;
  --idle-color: #FFC107;
  --dnd-color: #FF9797;
  --streaming-color: #5700ED;
  --offline-color: #1E5554;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


